/*Section buy*/
.section-buy-information .information-card{
    justify-content:space-evenly;

}
.product-cards--container{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin:50px;
    text-align:center;
}
.product-detail--card{
    padding:40px;
    margin: 0;
}
/*Call-To-Action*/
.call-to-action .div-call__content{
    height:200px;
    width:600px;
}
.div-call__content .call-to-action__title{
    font-weight:bold;
    font-size:2.9rem;
    margin-top:15px;
}

.call-to-action__content{
    font-size:1.6rem;
    margin-top:20px;
}
.button-call-action{
    display:inline-block;
    padding:5px 15px;
    font-size:1.5rem;
    margin: 25px;
}
/*Download*/
.button--download a{
    font-size:1.6rem;
}

/*About the team and product*/
.about__content{
    font-size:1.4rem;
}

/*footer*/
.footer-section {
    justify-content:space-around;
}