/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/
:root{
    /*Colores*/
    --primary-color-green: #05be50;
    --second-color-blue: #0039a6;
    --just-white: #FFFFFF;
    --text-grays: #808080;
    --just-black: #000000;
    --soft-white: #faf8f7;
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/*sección header inicio */
header{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #004680 0%, #4484BA 100%);

    height: 600px;
    position: relative;
    display: flex;
    align-items: center;/*alinear verticalmente*/

}
.wave
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.contenedor-textos
{
    flex-basis: 50%;
    padding-left: 40px;
    overflow: hidden;
    color: #fff;
}
.titulo
{
    font-size: 50px;
}
.subtitulo
{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;/*separacion*/
}
.cta
{
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    background: #ffffff;
    color: #008000;
    border-radius: 4px;
    text-decoration: none;/*quitar la rallita del link */
}
.contenedor-imagen
{
    flex-basis: 50%;
    position: relative;
    z-index: 1;
    text-align: center;/*extras */
    overflow: hidden;
}
.img
{
    width: 95%;
    animation: ilustrationAnimate ease-in 1s infinite alternate;
}
@keyframes ilustrationAnimate {
    0%
    {
        transform: scale(1);
    }100%
     {
         transform: scale(1.05);
     }

}
.logo
{
    position: absolute;
    top: 46px;
    left: 40px;
    width: 8%;
}

/*sección header fin */