/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/
:root{
    /*Colores*/
    --primary-color-green: #05be50;
    --second-color-blue: #0039a6;
    --just-white: #FFFFFF;
    --text-grays: #808080;
    --just-black: #000000;
    --soft-white: #faf8f7;
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.call-to-action{
    position:relative;
    width:100%;
    height:350px;
    background-image:url(../img/ciudad.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.call-to-action .div-call__content{
    /*display:flex;
    position:absolute;
    flex-direction:column;
    justify-content:center;*/
    width:300px;
    text-align:center;
    background-color:var(--just-black);
    /*align-items:center;*/
    line-height: 3.0rem;
    max-width: 306px;
    border-radius:5px;
}
.div-call__content .call-to-action__title,.call-to-action__content{
    color:var(--just-white);
}

.div-call__content .call-to-action__title{
    font-weight:bold;
    font-size:1.6rem;
}

.call-to-action__content{
    font-size:1.0rem;
}
.button-call-action{
    font-size:1.4rem;
    padding:2px 5px;
    margin-top:14px;
    border:none;
    Color: var(--just-white);
    background-color:var(--second-color-blue);
    border-radius:7px;
    margin-right:5px;
    text-decoration: none;
    cursor:pointer;
}